<nav class="navbar navbar-expand bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dandori Management</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/TASK">Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/STEP">Step</a>
                </li>
            </ul>
        </div>
    </div>
</nav>