[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pywin32 = "*"
sqlalchemy = "*"
sounddevice = "*"
pyttsx = "*"
vosk = "*"
transformers = "*"
torch = "*"
scipy = "*"
pyttsx3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
