<!DOCTYPE html>
<html lang="ja" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/due_date.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dandori Management</title>
</head>

<body>
    <header>
        {% include 'dandori_mngmnt/navbar.html' %}
    </header>

    <div class="container-xl pt-3">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        const collapseElementList = document.querySelectorAll('.collapse')
        const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
    </script>

    <footer class="bg-dark bg-gradient">
        <div class="container">
            <footer class="py-4 my-0">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3 data-bs-theme="dark"">
                  <li class="nav-item"><a href="/"     class="nav-link px-2 text-body-secondary">Home</a></li>
                  <li class="nav-item"><a href="/TASK" class="nav-link px-2 text-body-secondary">TASK</a></li>
                  <li class="nav-item"><a href="/STEP" class="nav-link px-2 text-body-secondary">STEP</a></li>
                </ul>
                <p class="text-center text-body-dark">Created by Hibiya Haraki</p>
              </footer>
        </div>
    </footer>
</body>